<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img src="<%= camp.image %>" alt=<%= camp.name %>>
                <div class="caption">
                    <h4 class="pull-right">
                        $9.00/night
                    </h4>
                    <h4><a href="#"><%= camp.name %></a></h4>
                    <p><%= camp.description %></p>
                    <p>
                        <em>
                            Created by <strong><%= camp.author.username %></strong>
                        </em>
                    </p>
                    <% if (user && camp.author.id.equals(user._id)) { %>
                    <a class="btn btn-warning btn-xs" href="/camps/<%= camp._id %>/edit">Edit Camp</a>
                    <form action="/camps/<%= camp._id %>?_method=DELETE" id="delete-form" method="POST">
                        <button class="btn btn-danger btn-xs">Delete Camp</button>
                    </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right"><a href="/camps/<%= camp._id %>/comments/new" class="btn btn-success">Add a
                        Comment</a></div>
                <hr>
                <% camp.comments.forEach(comment => { %>
                <p class="pull-right">10 days ago</p>
                <p><strong><%= comment.author.username %></strong></p>
                <p><%= comment.text %></p>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>